@use './variables' as *

// Global Reset
*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  line-height: 1.4
  font-family: $main-font !important
  color: $main-color

header
  max-width: 1100px

h1, h2, h3
  font-weight: 700
  @include clamp(1.5rem, 2vw, 2.5rem)
  color: $main-color

.container
  max-width: none
  width: 1100px
  margin: 25px auto
