@use '../../styles/variables' as *

.employee-list
  &__header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 20px
    h1
      font-size: 2rem
      font-family: $main-font

      &__link
        font-size: 1rem
        color: $accent-color
        text-decoration: none
      &:hover
        color: $hover-color

  &__table
    background-color: $bg-color
    padding: 20px
    border-radius: 0
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
    margin: 20px auto

    &-main
      height: 500px
      width: 100%
      background-color: $bg-color

    .MuiSvgIcon-root
      color: #2c3e506b

    .MuiFormControl-root
      display: flex
      width: 300px
      border: 2px solid rgba(44, 62, 80, 0.22)
      @include border-radius(5px)
      padding: 8px 12px
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
      transition: all 0.3s ease
      &:hover
        border-color: $accent-color
        box-shadow: 0 0 6px rgba($accent-color, 0.5)
        background-color: #ffffff

      &:focus-within
        border-color: $accent-color
        box-shadow: 0 0 6px rgba($accent-color, 0.5)
        background-color: #ffffff

      input
        flex: 1
        border: none
        outline: none
        font-size: clamp(0.9rem, 2vw, 1.1rem)
        background: transparent
        padding: 4px 8px

      &::placeholder
        color: $text-light-color
        font-style: italic

      button
        border: none
        background-color: transparent
        cursor: pointer
        padding: 0 8px
        font-size: 1.2rem
        transition: color 0.3s ease

        &:hover
          color: $hover-color

    .MuiDataGrid-root
      border-radius: 0
      .MuiDataGrid-columnHeaders
        background-color: $main-color
        color: #fff
        border-radius: 0

      .MuiDataGrid-cell
        font-size: 1rem

      .MuiDataGrid-footerContainer
        background-color: $main-color
        color: #fff
        p, div, svg
          color: #fff

  &__filter-toolbar
    padding: 10px 15px
    background-color: $bg-color

    & svg
      color: $main-color !important

    input
      margin: 10px
      padding: 8px 12px
      font-size: 1rem
      transition: border-color 0.3s ease

      &:focus
        border-color: $accent-color

    .MuiInputBase-root
      margin: 0
      height: 30px

      &::after
        border-bottom: none

      input
        padding: 5px 12px
