@use '../../styles/variables' as *

// Employee List Styles
.employee-list
  &__header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 20px
    h1
      font-size: 2rem
      font-family: $main-font

      &__link
        font-size: 1rem
        color: $accent-color
        text-decoration: none
      &:hover
        color: $hover-color

  &__table
    background-color: $bg-color
    padding: 20px
    border-radius: $border-radius
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
    max-width: 90%
    margin: 20px auto

    .MuiDataGrid-root
      border-radius: $border-radius
      font-family: $main-font
      .MuiDataGrid-columnHeaders
        background-color: $main-color
        color: #fff

      .MuiDataGrid-cell
        font-size: 1rem
        color: $main-color

      .MuiDataGrid-footerContainer
        background-color: $main-color
        color: #fff
        p, div, svg
          color: #fff

  &__filter-toolbar
    padding: 10px 15px
    background-color: $bg-color
    border-radius: $border-radius

    input
      // border: 1px solid #ddd
      // background: #fff
      margin: 10px
      border-radius: 5px
      padding: 8px 12px
      font-size: 1rem
      width: 250px
      transition: border-color 0.3s ease

      &:focus
        border-color: $accent-color

    .MuiInputBase-root
      margin: 0

      input
        padding: 5px 12px
