@use '../../styles/variables' as *

.header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1rem 2rem
  background-color: $bg-color
  @include border-radius
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
  margin: 25px 0
  @include phone-version
    flex-direction: column
    padding: 1rem

  &__title
    @include clamp(1.5rem, 2.5vw, 2rem)
    color: $main-color

  &__link
    text-decoration: none
    font-weight: bold
    @include clamp(1rem, 1.5vw, 1.2rem)
    color: $accent-color
    @include transition(color, $transition)

    &:hover
      color: $hover-color
