@use '../../styles/variables' as *

.form-input
  display: flex
  flex-direction: column
  margin-bottom: 1.25rem

  &__label
    @include clamp(0.9rem, 1.2vw, 1rem)
    margin-bottom: 0.5rem
    color: $main-color

  &__input
    padding: 0.75rem
    border: 1px solid #ccc
    @include border-radius
    @include transition(border-color, $transition)

    &:focus
      @include focus-outline($accent-color)

    &--error
      border: 1px solid red

  &__error
    color: red
    @include clamp(0.9rem, 1.2vw, 1rem)
    margin-top: 0.3rem
